<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.supercharge.shimmeringlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tests.UiTestCasesActivity" />
        <activity android:name=".tests.ColorTestsActivity" />
        <activity android:name=".tests.DurationTestsActivity" />
        <activity android:name=".tests.AngleTestActivity" />
        <activity android:name=".tests.HeightWidthTestsActivity" />
        <activity android:name=".tests.AutoStartTestsActivity" />
        <activity android:name=".tests.MaskCenterColorWidthTestsActivity" />
        <activity android:name=".tests.recyclerview.RecyclerViewTestActivity" />
        <activity android:name=".tests.ReversedAnimationTestsActivity" />
    </application>

</manifest>